<h1><%= @summary.summary %></h1>
 
 <% if policy(@summary).update? %>
   <%= link_to "Edit Summary", edit_topic_post_summary_path, class: 'btn btn-success' %>
 <% end %>
 
 <div class="row">
   <div class="col-md-8">    
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
             <%= link_to @post.title, [@topic, @post] %>
           </h4>
         </div>
       </div>
     </div>
   
 </div>