<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<h1><%= @post.title %></h1>
<% if policy(@post).edit? %>
  <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %>
<% end %>
<p><%= @post.body %></p>
